// root parameters: set up this way for dynamic background and colour
:root {
    --background-color: #fff;
    --text-color: #000;
    --border-color: #c7cdd1;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

// remove layout padding to save space
.ic-Layout-contentMain {
    margin: 24px;
    padding: 0 !important;
    overflow: hidden;
    
    #assignments {
        padding: 0;
    }

    // remove extra margin from the content
    .context_module {
        margin: 0;
    }

    .item-group-condensed {
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid var(--border-color);

        .ig-header, .ig-row, .content, .footer {
            margin: 0;
            border: none;
        }

        // remove padding from footer div, used to space between item groups
        // instead, we will use margin in the parent element to create space
        .footer {
            padding: 0;
        }
        
        &:not(:last-child) {
            margin-bottom: 24px; // create space except for the last child
        }
    }
}

/* nav */
// header bar typically consists of search input, moved to top right
.header-bar {
    position: absolute;
    top: -58px;
    right: 24px;
    padding-bottom: 0;

    &-outer-container {
        min-height: 0 !important;
    }
}

#sequence_footer {
    position: absolute;
    top: -58px;
    right: 24px;
    padding: 0 !important;
}

// removes bottom border between header and main content
.ic-app-nav-toggle-and-crumbs, .header-bar {
    border-bottom: none !important;
}

// move select menu to the right
#GradeSummarySelectMenuGroup {
    position: absolute;
    top: 20px;
    right: 20px;

    > div > span, > div > span > span {
        display: flex;
        flex-direction: column;
    }

    > div > span > span > span {
        margin-bottom: 10px;
    }
    
    .bDzpk_fncw {
        align-items: center;
    }
}

// move right side content down to provide space for select menu
#right-side-wrapper {
    margin-top: 200px;
}


/* file preview */
// enlarge the file preview panel by moving the footer to top right
.module-sequence-footer {
    height: 38px;

    .module-sequence-footer-content {
        border: none !important;
        animation: none !important;
        background: none !important;
        padding: 0 !important;
    }
}

.ic-app-crumbs {

    #breadcrumbs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        max-width: none;
        white-space: nowrap;

        ul {
            width: 100%;
        }

        .ellipsible {
            max-width: none !important;
            white-space: nowrap;
        }
    }
}

/* grades */
.announcements-v2__wrapper {

    // move the search bar to top right (terrible element name from server)
    & > span.fOyUs_bGBk:nth-of-type(2) {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -58px;
        margin-right: 24px;

        > span {
            margin: 0 0 6px 0 !important;
        }
    }

    // test
    & > span.fOyUs_bGBk:nth-of-type(3) {
        margin: 0 !important;
    }

    .pinned-discussions-v2__wrapper {
        margin-bottom: 24px;
        border-radius: 10px;
        overflow: hidden;
    }
    .ic-item-row, .ic-announcement-row {
        box-shadow: none;
        padding: 16px;
        display: flex;
        margin-bottom: 24px;
        border-radius: 10px;
        border: 1px solid var(--border-color);

        &__content {
            // display 3 lines of preview of announcement content (default is 1)
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap !important;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        &__content-link {
            margin-bottom: 6px;
        }
    }

    .ic-section-tooltip {
        background: #f5f5f5;
        padding: 6px;
        margin: 12px 0px;
        border-radius: 10px;
    }


}

/* main */
.ic-DashboardCard__box {
    padding-top: 0;
    
    .ic-DashboardCard__box__container {
        margin: 0;
        
        .ic-DashboardCard {
            width: 100%;
            box-shadow: none;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            overflow: hidden;
            min-height: 400px;
            max-width: 400px;

            .ic-DashboardCard__header_hero {
                height: 250px;
                border: none;
            }
        }
    }
}

/* assignments */
// shade assignment overview
.student-assignment-overview {
    border: none !important;
    padding: 12px !important; 
    background: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
}

/* discussion */
// a quirky way to fix the border radius
#discussion-managebar > .headerBar {
    border-radius: 10px 10px 0 0; // top rounded
    overflow: hidden;
}

#discussion-toolbar > .headerBar {
    border-radius:  0 0 10px 10px; // bottom rounded
    overflow: hidden;
}