:root {
  --background-color: #fff;
  --text-color: #000;
  --border-color: #c7cdd1;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

.ic-Layout-contentMain {
  margin: 24px;
  padding: 0 !important;
  overflow: hidden;
}
.ic-Layout-contentMain #assignments {
  padding: 0;
}
.ic-Layout-contentMain .context_module {
  margin: 0;
}
.ic-Layout-contentMain .item-group-condensed {
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--border-color);
}
.ic-Layout-contentMain .item-group-condensed .ig-header, .ic-Layout-contentMain .item-group-condensed .ig-row, .ic-Layout-contentMain .item-group-condensed .content, .ic-Layout-contentMain .item-group-condensed .footer {
  margin: 0;
  border: none;
}
.ic-Layout-contentMain .item-group-condensed .footer {
  padding: 0;
}
.ic-Layout-contentMain .item-group-condensed:not(:last-child) {
  margin-bottom: 24px;
}

/* nav */
.header-bar {
  position: absolute;
  top: -58px;
  right: 24px;
  padding-bottom: 0;
}
.header-bar-outer-container {
  min-height: 0 !important;
}

#sequence_footer {
  position: absolute;
  top: -58px;
  right: 24px;
  padding: 0 !important;
}

.ic-app-nav-toggle-and-crumbs, .header-bar {
  border-bottom: none !important;
}

#GradeSummarySelectMenuGroup {
  position: absolute;
  top: 20px;
  right: 20px;
}
#GradeSummarySelectMenuGroup > div > span, #GradeSummarySelectMenuGroup > div > span > span {
  display: flex;
  flex-direction: column;
}
#GradeSummarySelectMenuGroup > div > span > span > span {
  margin-bottom: 10px;
}
#GradeSummarySelectMenuGroup .bDzpk_fncw {
  align-items: center;
}

#right-side-wrapper {
  margin-top: 200px;
}

/* file preview */
.module-sequence-footer {
  height: 38px;
}
.module-sequence-footer .module-sequence-footer-content {
  border: none !important;
  animation: none !important;
  background: none !important;
  padding: 0 !important;
}

.ic-app-crumbs #breadcrumbs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: none;
  white-space: nowrap;
}
.ic-app-crumbs #breadcrumbs ul {
  width: 100%;
}
.ic-app-crumbs #breadcrumbs .ellipsible {
  max-width: none !important;
  white-space: nowrap;
}

/* grades */
.announcements-v2__wrapper > span.fOyUs_bGBk:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -58px;
  margin-right: 24px;
}
.announcements-v2__wrapper > span.fOyUs_bGBk:nth-of-type(2) > span {
  margin: 0 0 6px 0 !important;
}
.announcements-v2__wrapper > span.fOyUs_bGBk:nth-of-type(3) {
  margin: 0 !important;
}
.announcements-v2__wrapper .pinned-discussions-v2__wrapper {
  margin-bottom: 24px;
  border-radius: 10px;
  overflow: hidden;
}
.announcements-v2__wrapper .ic-item-row, .announcements-v2__wrapper .ic-announcement-row {
  box-shadow: none;
  padding: 16px;
  display: flex;
  margin-bottom: 24px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.announcements-v2__wrapper .ic-item-row__content, .announcements-v2__wrapper .ic-announcement-row__content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.announcements-v2__wrapper .ic-item-row__content-link, .announcements-v2__wrapper .ic-announcement-row__content-link {
  margin-bottom: 6px;
}
.announcements-v2__wrapper .ic-section-tooltip {
  background: #f5f5f5;
  padding: 6px;
  margin: 12px 0px;
  border-radius: 10px;
}

/* main */
.ic-DashboardCard__box {
  padding-top: 0;
}
.ic-DashboardCard__box .ic-DashboardCard__box__container {
  margin: 0;
}
.ic-DashboardCard__box .ic-DashboardCard__box__container .ic-DashboardCard {
  width: 100%;
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  min-height: 400px;
  max-width: 400px;
}
.ic-DashboardCard__box .ic-DashboardCard__box__container .ic-DashboardCard .ic-DashboardCard__header_hero {
  height: 250px;
  border: none;
}

/* assignments */
.student-assignment-overview {
  border: none !important;
  padding: 12px !important;
  background: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
}

/* discussion */
#discussion-managebar > .headerBar {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

#discussion-toolbar > .headerBar {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */