// root parameters: set up this way for dynamic background and colour
:root {
    --background-color: #fff;
    --text-color: #000;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

// remove layout padding to save space\
.ic-Layout-contentMain {

    #assignments {
        padding: 0;
    }

    // remove extra margin from the content
    .context_module {
        margin: 0;
    }

    // header bar typically consists of search input
    .header-bar {
        position: absolute;
        top: -58px;
        right: 32px;
        padding-bottom: 0;
    }

    .item-group-condensed {
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #c7cdd1;

        .ig-header, .ig-row, .content, .footer {
            margin: 0;
            border: none;
        }

        // remove padding from footer div, used to space between item groups
        // instead, we will use margin in the parent element to create space
        .footer {
            padding: 0;
        }
        
        &:not(:last-child) {
            margin-bottom: 32px; // create space
        }
    }
}


// removes bottom border between header and main content
.ic-app-nav-toggle-and-crumbs, .header-bar {
    border-bottom: none !important;
}

// move select menu to the right
#GradeSummarySelectMenuGroup {
    position: absolute;
    top: 20px;
    right: 20px;

    > div > span, > div > span > span {
        display: flex;
        flex-direction: column;
    }

    > div > span > span > span {
        margin-bottom: 10px;
    }
    
    .bDzpk_fncw {
        align-items: center;
    }
}

// move right side content down to provide space for select menu
#right-side-wrapper {
    margin-top: 200px;
}


/* file preview */
// enlarge the file preview panel by moving the footer to top right
.module-sequence-footer {
    height: 38px;

    .module-sequence-footer-content {
        border: none !important;
        animation: none !important;
        background: none !important;
        padding: 0 !important;
    }
}

#sequence_footer {
    position: absolute;
    top: -58px;
    right: 32px;
    padding: 0;
}

.ic-app-crumbs {

    #breadcrumbs {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        max-width: 100%;

        .ellipsible {
            max-width: none !important;
            white-space: nowrap;
        }
    }
}

/* grades */
.announcements-v2__wrapper {

    & > .fOyUs_bGBk {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -58px;
        margin-right: 24px;
    }

    .pinned-discussions-v2__wrapper {
        margin-bottom: 24px;
        border-radius: 10px;
        overflow: hidden;
    }

    .ic-item-row__content-link {
        margin-bottom: 6px;
    }

    .ic-announcement-row {
        box-shadow: none;
        background: #fff;
        border: 1px solid #c7cdd1;
        padding: 16px;
        display: flex;
        border-radius: 10px;
        margin-bottom: 24px;

        &__content {
            // display 3 lines of preview of announcement content (default is 1)
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .ic-section-tooltip {
        background: #f5f5f5;
        padding: 6px;
        margin: 12px 0px;
        border-radius: 10px;
    }


}

/* main */
.ic-DashboardCard__box {
    padding-top: 0;
    
    .ic-DashboardCard__box__container {
        margin: 0;
        
        .ic-DashboardCard {
            width: 100%;
            box-shadow: none;
            border: 1px solid #c7cdd1;
            border-radius: 10px;
            overflow: hidden;
            min-height: 400px;
            max-width: 400px;

            .ic-DashboardCard__header_hero {
                height: 250px;
                border: none;
            }
        }
    }
}