body {
    padding: 50px;
    height: auto;
    width: 200px;
    background: #fff;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mode-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;

    button {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px 20px;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: rgb(206, 206, 206);
        }
    }
}

.icon {
    width: 125px;
    height: 125px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  /* Rest of your styles */
  